:root{
  --color-green: #00B2A0;
  --color-dark-green: #0D302C;
  --color-white: #fff;
  --color-title: #01353E;
  --color-main-text: #242121;
  --color-background-gray: #F8F8F8;
  --color-gray: #c4c4c4;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  cursor: pointer;
}

html{
  box-sizing: border-box;
}

*,*::after,*::before{
  box-sizing: inherit;
}

img{
  display: block;
  width: 100%;
}

body{
  line-height: 1.2;
  letter-spacing: .6px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: var(--color-main-text);
  font-size: 14px;
}

.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.title{
  color: var(--color-title);
  font-size: 48px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.title::after{
  content: '/';
  font-size: 72px;
  color: var(--color-green);
  bottom: -50%;
  position: absolute;
}

/* header */

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  height: 100px;
  transition-duration: .4s;
  z-index: 10 ;
}

.header__inner{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  font-size: 24px;
  color: var(--color-white);
}

.header__logo{
  position: absolute;
  left: 0;
}

.menu__btn{
  display: none;
}

.menu__list{
  display: flex;
}

.menu__item:not(:first-child){
  margin-left: 45px;
}

.menu__item{
  padding: 0 1px 5px;
  border-bottom: 1px solid transparent;
  transition: border .3s;
}

.menu__item:hover{
  border-bottom-color: var(--color-green);
}

/* main-display */

.main-display{
  background: no-repeat center/cover;
}

.main-display__inner{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-display__title{
  margin-top: auto;
  font-size: 200px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.main-display__subtitle{
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-bottom: auto;
}

.main-display__link{
  margin-bottom: 90px;
}

/* about */

.about{
  padding: 150px 0;
}

.about__title{
  margin-bottom: 90px;
}

.about__content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__text{
  flex-basis: 480px;
  padding-bottom: 30px;
}

.about__text:nth-child(even){
  margin-left: 120px;
}

/* school */

.school{
  background-color: var(--color-background-gray);
  padding: 150px 0;
}

.school__title{
  margin-bottom: 100px;
}

.school__items{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.school__item-title{
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 1.16;
  color: var(--color-main-text);
  max-width: 220px;
  height: 50px;
  margin: 0 auto 15px;
  position: relative;
  text-transform: uppercase;
  padding-left: 60px;
  font-weight: 400;
}

.school__item-title::before{
  content: '';
  position: absolute;
  left: 0px;
  top: 0;
  height: 50px;
  width: 55px;
  background: no-repeat left top/contain;
}

.school__item-title--1::before{
  background-image: url('../images/school-icon/icon-1.svg');
}

.school__item-title--2::before{
  background-image: url('../images/school-icon/icon-2.svg');
}

.school__item-title--3::before{
  background-image: url('../images/school-icon/icon-3.svg');
}

.school__item{
  flex-basis: 355px;
}

.school__box{
  display: flex;
  justify-content: space-between;
}

.school__info{
  flex: none;
  margin-right: 60px;
}

.school__info-item{
  position: relative;
  margin-bottom: 10px;
}

.school__info-item::before{
  content: '';
  position: absolute;
  height: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.school__info-item--icon1::before{
  background-image: url('../images/school-wawe-1.svg');
  width: 200px;
}

.school__info-item--icon2::before{
  background-image: url('../images/school-wawe-2.svg');
  width: 250px;
}

.school__info-item--icon3::before{
  background-image: url('../images/school-wawe-3.svg');
  width: 293px;
}

.school__info-item--icon1{
  width: 200px;
}

.school__info-item--icon2{
  width: 247px;
}

.school__info-item--icon3{
  width: 293px;
}

.school__info-num{
  display: block;
  position: absolute;
  top: -8px;
  right: -50px;
  font-size: 24px;
  font-weight: 400;
}

.school__info-text{
  padding-top: 25px;
}

.school__content{
  flex-basis: 600px;
}

.school__text{
  margin-bottom: 30px;
}
/* heights */

.heights{
  padding: 150px 0 99px;
  background: no-repeat right center/50%;
}

.heights__inner{
  max-width: 511px;
}

.heights__title{
  margin-bottom: 100px;
}

.heights__text{
  padding-bottom: 30px;
}

/* gallery */

.gallery{
  padding: 150px 0;
  text-align: center;
}

.gallery__title{
  margin-bottom: 100px;
}

.gallery__filter{
  margin-bottom: 50px;
  text-align: start;
}

.gallery__box{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.gallery__box img{
  height: 280px;
  width: fit-content;
}

.gallery__filter-btn{
  transition: color .3s;
}

.mixitup-control-active{
  color: var(--color-green);
}

.gallery__filter-btn,
.gallery__link,
.connection__form-btn{
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 400;
  font-family: inherit;
}

.gallery__link,
.connection__form-btn{
  border: 1px solid var(--color-gray);
  padding: 23px 90px;
  display: inline-block;
  margin-bottom: 200px;
}

.blockquote{
  padding: 80px 0;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.11;
  background-color: var(--color-background-gray);
  position: relative;
  margin-bottom: 200px;
}

.blockquote__inner{
  position: absolute;
  right: 30%;
  font-size: 14px;
  font-weight: 300;
}

.gallery__video{
  background: no-repeat center/cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.gallery__achievements{
  display: flex;
  justify-content: center;
}

.gallery__number{
  color: var(--color-title);
  font-size: 64px;
  font-weight: 700;
  padding: 50px;
}

.gallery__number-caption{
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-main-text);
}

/* blog */

.blog__slider-wrapper{
  background: no-repeat center/cover;
}

.blog__title{
  margin-bottom: 100px;
}

.blog__slider{
  padding: 315px 0 70px;
  color: var(--color-white);
}

.blog__slider-title{
  font-size: 48px;
  line-height: 1.16;
  max-width: 600px;
  font-weight: 400;
  margin-left: auto;
}
.blog__slider-text{
  max-width: 600px;
  margin: 0 0 250px auto;
}

.slick-dots{
  display: flex;
  justify-content: center;
}

.slick-dots button{
  padding: 0;
  width: 15px;
  height: 15px;
  background-color: var(--color-white);
  font-size: 0;
  border: none;
  border-radius: 50%;
  transition: background .3s;
}

.slick-dots .slick-active button{
  background-color: var(--color-green);
}

.slick-dots li:not(:first-child){
  margin-left: 15px;
}

/* team */

.team{
  padding: 150px 0;
}

.team__title{
  margin-bottom: 100px;
}

.team__box{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.team__person{
  flex-basis: 330px;
  text-align: center;
}

.team__person-img{
  margin-bottom: 25px;
}

.team__person-name{
  color: var(--color-main-text);
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}

.team__person-job{
  font-weight: 400;
}

/* price */

.price{
  padding: 150px 0;
  background-color: var(--color-background-gray);
}

.price__title{
  margin-bottom: 200px;
}

.price__box{
  display: flex;
  justify-content: space-between;
}

.price__list{
  padding: 45px 30px 105px;
  background-color: var(--color-white);
  font-weight: 400;
  flex-basis: 360px;
  position: relative;
}

.price__list-name,
.price__list-num{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--color-title);
  margin-bottom: 60px;
}

.price__list-info{
  margin-bottom: 20px;
}

.price__list-num{
  margin-bottom: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.price__list-currency{
  font-size: 18px;
  line-height: 1.22;
}

/* connection */
.connection{
  padding-top: 150px;
}

.connection__title{
  margin-bottom: 100px;
}

.connection__inner{
  display: flex;
}

.connection__form{
  margin-right: 30px;
  flex: none;
  flex-basis: 570px;
}

.connection__form-input,
.connection__form-textarea{
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 1;
  padding: 18px 5px;
  font-weight: 400;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #DADADA;
}

.connection__form-input::placeholder,
.connection__form-textarea::placeholder{
  color: var(--color-green);
  max-width: 260px;
}

.connection__form-textarea{
  font-family: inherit;
  min-height: 150px;
  resize: none;
}

.connection__form-btn{
  margin: 70px 0 0;
}

.connection__info{
  padding: 50px;
  background-color: var(--color-background-gray);
  width: 100%;
}

.connection__text{
  font-size: 24px;
  color: var(--color-main-text);
  font-weight: 400;
  max-width: 280px;
}

.connection__text:not(:last-child){
  margin-bottom: 65px;
}

/* footer */

.footer__social{
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
}

.footer__social-item{
  padding: 0 5px;
  transition: color .3s;
}

.footer__social-item:hover{
  color: var(--color-green);
}

.footer__top{
  padding: 200px 0;
}

.footer__bottom{
  background-color: var(--color-green);
}

.footer__logo{
  max-width: 60px;
  padding: 60px 0;
  margin: 0 auto;
}

/* adaptive */

@media(max-width: 1700px){
  .heights{
    padding: 100px 70px;
  }
  .heights__title{
    margin-bottom: 70px;
  }
  .heights__text{
    padding-bottom: 25px;
  }
}

@media(max-width: 1550px){
  .heights__title{
    margin-bottom: 50px;
  }
  .heights{
    padding-top: 85px;
  }
}

@media (max-width: 1440px){
  .header__inner{
    justify-content: end;
    font-size: 20px;
  }
  /*  */
  .heights{
    padding: 75px 0 50px;
  }
  .heights__title{
    margin-bottom: 50px;
  }
  .heights__text{
    padding-bottom: 20px;
  }
}

@media(max-width: 1280px){
  .about,
  .school,
  .team,
  .price,
  .gallery{
    padding: 100px 0;
  }
  .connection{
    padding-top: 100px;
  }
  .about__text:nth-child(even){
    margin-left: 50px;
  }
  .about__text{
    flex-basis: 450px;
  }
  /*  */
  .heights__text{
    padding-bottom: 15px;
  }
  .heights{
    padding: 50px 0 35px;
  }
  .heights__title{
    text-align: start;
  }
  .heights__inner{
    max-width: 530px;
  }
  /*  */
  .blog__slider{
    padding-top: 250px;
  }
  /*  */
  .price__box{
    column-gap: 20px;
  }
  /*  */
  .footer__top{
    padding: 100px 0;
  }
  .footer__logo{
    padding: 30px 0;
  }
  /*  */
  .gallery__filter,
  .gallery__box{
    max-width: 580px;
    margin: 0 auto 50px;
  }
  .gallery__link,
  .gallery__blockquote,
  .gallery__video{
    margin-bottom: 100px;
  }
  .gallery__video{
    height: 500px;
  }
}

@media(max-width: 1180px){
  .school__item{
    flex-basis: 315px;
  }
  /* heights */
  .heights{
    background-size: 47%;
  }
  .heights__title{
    margin-bottom: 35px;
    font-size: 46px;
  }
  .heights__title::after{
    font-size: 68px;
  }
}

@media(max-width: 1110px){
  .heights{
    padding: 100px 0;
    background-image: none !important;
  }
  .heights__inner{
    margin: 0 auto;
  }
  .heights__title{
    margin-bottom: 100px;
    text-align: center;
  }
  
  .heights__text{
    padding-bottom: 30px;
  }
}

@media (max-width: 1024px){
  .header__inner{
    justify-content: end;
  }
  .menu__item:not(:first-child){
    margin-left: 25px;
  }
  /*  */
  .title{
    font-size: 36px;
  }
  .title::after{
    font-size: 48px;
  }
  .about__title,
  .school__title,
  .blog__title,
  .price__title,
  .connection__title,
  .gallery__title{
    margin-bottom: 50px;
  }
  .about__text{
    flex-basis: 370px;
  }
  /*  */
  .school__item{
    flex-basis: 250px;
  }
  .school__items{
    margin-bottom: 75px;
  }
  /*  */
  .blog__slider{
    padding-top: 200px;
  }
  .blog__slider-text{
    margin-bottom: 175px;
    max-width: 550px;
  }
  .blog__slider-title{
    max-width: 550px;
    font-size: 42px;
  }
  .connection__form{
    max-width: 470px;
  }
  /*  */
  .gallery__blockquote{
    padding: 50px 10px;
  }
  .gallery__link{
    margin-bottom: 75px;
  }
  .gallery__video{
    height: 450px;
  }
}

@media(max-width: 950px){
  .price__box{
    flex-wrap: wrap;
    justify-content: center;
  }
  .price__list{
    margin-bottom: 20px;
  }
  .connection__form{
    max-width: 400px;
  }
}

@media(max-width: 840px){
  .about__text{
    flex-basis: 350px;
  }
  .about__text:nth-child(even){
    margin-left: 30px;
  }
  /*  */
  .school__item{
    flex-basis: 225px;
  }
  .school__item-title{
    padding: 75px 0 0;
    text-align: center;
    height: 125px;
    justify-content: center;
  }
  .school__item-title::before{
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  /*  */
  .blog__slider{
    padding: 150px 0 50px;
  }
  .blog__slider-title{
    max-width: 475px;
    font-size: 36px;
  }
  .blog__slider-text{
    margin-bottom: 125px;
    max-width: 475px;
  }
  .slick-dots button{
    width: 12px;
    height: 12px;
  }
  .connection__inner{
    display: block;
  }
  .connection__form{
    margin: 0 0 30px;
    max-width: 100%;
  }
  /*  */
  .gallery__achievements{
    display: block;
    column-count: 2;
  }
  .gallery__video{
    height: 400px;
  }
}

@media (max-width: 768px){
  .menu__item:not(:first-child){
    margin-left: 20px;
  }
  .main-display__title{
    font-size: 132px;
  }
  .main-display__link{
    margin-bottom: 40px;
  }
  /*  */
  .about__content{
    display: block;
    max-width: 480px;
    margin: 0 auto;
  }
  .about__text:nth-child(even){
    margin-left: 0;
  }
  .title{
    font-size: 32px;
  }
  .about__title{
    max-width: 395px;
    margin: 0 auto 50px;
  }
  .about__title::after{
    top: 50%;
  }
  /*  */
  .school__box{
    display: block;
  }
  .school__info{
    float: left;
  }
  .school__items{
    display: block;
  }
  .school__item{
    max-width: 360px;
    margin: 0 auto 50px;
  }
  .school__item-title{
    padding-top: 65px;
    height: fit-content;
  }
  /*  */
  .blog__slider-title,
  .blog__slider-text{
    max-width: 415px;
  }
  /*  */
  .blockquote{
    margin-bottom: 75px;
  }
  .blockquote__inner{
    right: 10px;
  }
  .gallery__video{
    margin-bottom: 50px;
  }
  .gallery__number{
    padding: 40px;
  }
}

@media (max-width: 640px){
  .menu__btn{
    position: relative;
    z-index: 11;
    display: block;
    width: 40px;
    height: 30px;
    border: none;
    background-color: transparent;
    right: 0;
  }
  .menu__btn::after,
  .menu__btn::before,
  .menu__btn--decor
  {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color-white);
    transition: all .3s;
  }
  .menu__btn::after{
    content: "";
    top: 0;
  }
  .menu__btn::before{
    content: "";
    bottom: 0;
  }
  .menu__btn--decor{
    top: 50%;
    transform: translateY(-50%);
  }
  .menu__btn--active .menu__btn--decor{
    opacity: 0;
  }
  .menu__btn--active::after{
    transform: rotate(45deg);
    top: 50%;
  }
  .menu__btn--active::before{
    transform: rotate(-45deg);
    top: 50%;
  }
  .menu__list{
    text-align: center;
    position: absolute;
    flex-direction: column;
    background-color: var(--color-dark-green);
    padding: 100px 50px 50px;
    top: 0;
    right: -10px;
    min-height: 100vh;
    transform: translateX(200%);
    transition: transform .5s;
  }
  .menu__list--active{
    transform: translateX(0);
  }
  .menu__item:not(:first-child){
    margin-left: 0;
  }
  .menu__item{
    margin-bottom: 15px;
  }
  .main-display__title{
    font-size: 100px;
  }
  /*  */
  .about,
  .school,
  .heights,
  .team,
  .price,
  .gallery{
    padding: 75px 0;
  }
  .connection{
    padding-top: 75px;
  }
  /*  */
  .school__info{
    float: none;
    margin: 0 auto 50px;
    max-width: fit-content;
    transform: translateX(-20px);
  }
  /*  */
  .blog__slider{
    padding-top: 75px;
  }
  .blog__slider-title,
  .blog__slider-text{
    max-width: 385px;
  }
  .blog__slider-title{
    font-size: 28px;
  }
  .blog__slider-text{
    margin-bottom: 75px;
  }
  /*  */
  .team__box{
    display: block;
  }
  .team__person{
    max-width: 370px;
    margin: 0 auto 25px;
  }
  /*  */
  .gallery__video{
    height: 350px;
  }
  .large-img{
    display: none;
  }
}

@media(max-width: 620px){
  .gallery__box{
    /* display: block; */
  }
  .gallery__box img{
    /* width: 250px; */
    margin: 0 auto 25px;
  }
}

@media(max-width: 540px) {
  .school__title{
    max-width: 300px;
    margin: 0 auto 50px;
  }
  .school__title::after{
    top: 50%;
  }
  .gallery__video{
    height: 300px;
  }
  .gallery__number{
    padding: 30px;
  }
  .gallery__video-img{
    width: 50px;
  }
}

@media (max-width: 480px){
  .main-display__subtitle{
    font-size: 18px;
  }
  .school__items{
    margin-bottom: 50px;
  }
  .heights__title{
    max-width: 200px;
    margin: 0 auto 50px;
  }
  .heights__title::after{
    top: 50%;
  }
  /*  */
  .connection__title{
    max-width: 200px;
    margin: 0 auto 50px;
  }
  .connection__form-btn{
    padding: 15px 50px;
  }
  .connection__title::after{
    top: 50%;
  }
  .connection__info{
    padding: 50px 10px;
  }
  /*  */
  .gallery__achievements{
    column-count: 1;
  }
  .gallery__blockquote,
  .gallery__link{
    margin-bottom: 50px;
  }
  .gallery__link{
    padding: 15px 70px;
    font-size: 20px;
  }
  .gallery__video{
    height: 250px;
  }
  .blockquote__text{
    font-size: 24px;
  }
  .gallery__filter{
    display: flex;
    flex-wrap: wrap;
  }
  .gallery__filter-btn{
    font-size: 20px;
    display: block;
    margin-bottom: 25px;
  }
}

@media (max-width: 440px){
  .main-display__link{
    margin-bottom: 30px;
  }
  /*  */
  .about,
  .school,
  .heights,
  .team,
  .price,
  .gallery{
    padding: 50px 0;
  }
  .connection{
    padding-top: 50px;
  }
  .about__title{
    max-width: 350px;
  }
  .about__title::after{
    top: 65%;
  }
  /*  */
  .team__title,
  .price__title{
    max-width: 200px;
    margin: 0 auto 50px;
  }
  .team__title::after,
  .price__title{
    top: 50%;
  }
  /*  */
  .footer__social-link{
    font-size: 18px;
  }
}

@media (max-width: 375px){
  .main-display__title{
    font-size: 72px;
  }
  .main-display__subtitle{
    font-size: 16px;
  }
  .main-display__link{
    margin-bottom: 20px;
  }
  .school__info{
    max-width: fit-content;
    margin: 0 0 50px;
    transform: translateX(0px);
  }
  .school__info-num{
    font-size: 20px;
    right: 10px;
  }
  .school__info-item::before{
    background-size: contain;
  }
  .school__info-item--icon1::before{
    width: 150px;
  }
  .school__info-item--icon2::before{
    width: 195px;
  }
  .school__info-item--icon3::before{
    width: 244px;
  }
}
